<ion-view  hide-back-button="true" title="Employee List" ng-controller="employee">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Employee</h1>
    </div>
     <ion-content class="has-header">
        <div class="card"> <div  class="item item-divider bar bar-header bar-energized">
                Details
            </div>
            <ion-item type="item-text-wrap">
                <div>{{employee.name}} {{employee.lastName}}</div>
            </ion-item>
            <ion-item type="item-text-wrap">
                <div>{{employee.age}}</div>
            </ion-item>
            <ion-item type="item-text-wrap">
                <div>{{employee.Address}}</div>
            </ion-item>
            </div>              
     </ion-content>
</ion-view>