<ion-view  id="findareide" hide-back-button="true" title="Find a ride" ng-controller="findarideLeave">
    <div class="bar bar-header bar-positive">
        <div class="list list-inset">
            <form role="form" name="leaveForm" novalidate="" class="ng-dirty ng-valid ng-valid-required">
            	<label class="item item-input">
            		<input type="text"  ng-model="addressModelLeave" class="leavingFrom" autoleave  placeholder="Leaving from">
            	</label>
            </form>
        </div>
    </div>
    <ion-content class="has-header"> 
        
     </ion-content>
</ion-view>