<ion-view  id="offerareide" hide-back-button="true" title="Find a ride" ng-controller="findarideGo">
    <div class="bar bar-header bar-positive">
        <div class="list list-inset">
            
            <form role="form" name="goForm" novalidate="" class="ng-dirty ng-valid ng-valid-required">
            	<label class="item item-input">
            		<input type="text"  class="leavingGo" autogo  placeholder="Leaving from">
            	</label>
            </form>
        </div>
    </div>
    <ion-content class="has-header"> 
         
     </ion-content>
</ion-view>