<ion-view  hide-back-button="true" title="Car riding" ng-controller="carRidingMainView">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Car riding</h1>
    </div>
     <ion-content class="has-header"> 
         <div class="homescr"></div>   
     </ion-content>
    <div class="bar bar-footer">
     <a href="#/findaride" class="button icon ion-ios-search">Find a ride</a>
      <a href="#/offeraride" class="button icon ion-plus-outline">Offer a ride</a>  
    </div>
</ion-view>